---
# Jekyll needs front matter for SCSS files
---

// Variables for Hydeout

$root-font-family: Merriweather, Georgia, serif;
$sidebar-bg-color: lighten(#2b442f, 10%);
$link-color: #289828;
$sidebar-sticky: false;
$section-spacing: 2rem;
$sidebar-width: 16rem;
$large-font-size: 1.15rem !default;

@import "hydeout";

// Overrides of Hydeout styles

#sidebar {
    .site-title {
        font-family: $root-font-family;
        font-weight: bold;
    }
}

img {
    display: inline;
    margin-bottom: -.25em;
    &.left-icon {
        width: 24px;
        height: 24px;
        margin-right: .6em;
    }
}

// Our own styles

h2 {
    margin: 2rem 0 1rem;
    border-bottom: 1px solid #ddd;
}

footer.content {
    font-size: 85%;
    padding-top: 0;
    padding-bottom: 2rem !important;
}

.editme {
    padding: 1rem;
    margin: -1rem;

    &:target {
        animation: fade-bg 3s;
        @keyframes fade-bg
        {
            0%   { background: rgba($sidebar-bg-color, 0.2); }
            100% { background: transparent; }
        }
    }
}

.copyright {
    margin-top: 2em;
}

.container {
    padding-top: 3rem;
}

.content * {
    max-width: 32em;
}

nav#sidebar-nav-links .active {
    text-decoration: underline;
}

#community_inviter_container {
    margin: 2em 0;

    input {
        font-size: 100%;
    }
    img {
        display: none;
    }
}
