---
layout: default
---

{% if page.title != 'Home' %}
<header>
  <h1 class="page-title">{{ page.title }}</h1>
</header>
{% endif %}
<div class="content">
  {{ content }}
</div>
<footer>
  <p id="edit-page" class="editme">
    <strong>Have a suggestion to improve this page?</strong>
    <!-- Note: this link is wrong if testing locally, but is right on GitHub. -->
    <br /><a href="{% github_edit_link %}">Edit this page on GitHub</a> and submit a pull request!
    <br />Or, <a href="https://github.com/BostonPython/about/issues/new">submit an issue</a> with your suggestion.
  </p>
</footer>
